<div class="footer">
  <hr>
  <div class="pull-left">
    <%= image_tag("skcrest.png", size: "100x100", alt: "Sigma Kappa Sorority Coat of Arms") %>
  </div>
  <%= image_tag("RFLlogo.jpg", size: "150x150", alt: "Relay For Life Logo") %>
  <div class="pull-right">
    <%= image_tag("pskcrest.gif", size: "150x150", alt: "Phi Sigma Kappa Fraternity Coat of Arms") %>
  </div>
</div>
